.caption_table {
    margin: 0 9px 30px 9px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caption_table_month {
    font-weight: bold;
}

.arrow {
    width: 5.5px;
    height: 5.5px;

    position: relative;

    border-top: 1px solid var(--secondary-color-text-arrow);
    border-right: 1px solid var(--secondary-color-text-arrow);
}


.arrow_left {
    transform: rotate(-135deg);
}

.arrow_left:before,
.arrow_right:before {
    width: 27px;
    height: 27px;

    content: "";
    position: absolute;
    top: -14px;
    left: -10px;

    z-index: -2;
    transform: rotate(45deg);
}

.arrow_right {
    transform: rotate(45deg);
}

.arrow_border {
    width: 24px;
    height: 24px;
}