body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'PT Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 17px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --primary-color: #4C4C4C;
    --secondary-color: #876FDF;
    --secondary-color-title-column: #7057CD;
    --secondary-color-hover: #F2F4F5;
    --secondary-color-arrow: #707070;
    --active-color: #A0A0A0
}

